.parent-image {
  cursor: pointer;

  .small-image-wrapper {
    display: flex;
    justify-content: center;

    .small-image-post {
      max-width: 100%;
      max-height: 800px;
    }
    .small-image-gallery {
      max-width: 100%;
      max-height: 300px;
    }
  }

  .fullscreen-image-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width:100vw;
    height: 100%;
    z-index: 4;

    .fullscreen-opacity {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      opacity: 0.9;
      background-color: black;
    }

    .content-wrapper {
      display: flex;
      flex-flow: column wrap;
      z-index: 4;

      .content-wrapper-child {
        background-color: black;

        display: flex;
        flex-flow: row nowrap;

        .comment-section-parent {
          width: 500px;
          display: flex;
          flex-direction: column;
          max-height: 90vh;
          align-items: center;
          background-color: #e9ebee;
          cursor: default;
          z-index: 3;

          .input-group-text {
            background-color: white;
            width: 90%;
          }

          .close {
            align-self: flex-end;
            margin: 5px 7px 0 0;
          }

          .comment-section {
            width: 90%;
            //max-height: 100%;
            display: flex;
            overflow: auto;
            flex-direction: column;
            align-items: center;

            .if-nothing-element {
              opacity: 0.5;
            }
          }
        }

        .fullscreen-image {
          cursor: default;
          max-height: 90vh;
          opacity: 1;
          z-index: 3;
        }
      }
    }
  }
}