.comment-parent {
  width: 100%;
  margin-bottom: 5px;

  .comment-content {
    margin: 5px 0;
  }

  .link-content {
    clear: both;
    
    .avatar-logo {
      margin-right: 1%;
    }
  }

  .parent {
    display: block;
    margin: auto;
    width: 100%;
  }

  .hash-div {
    margin-top: 20px;
  }
}