.comment-parent {

  width: 100%;

  .headline {
    .avatar-logo {
      margin-right: 1%;
    }
  }

  .parent {
    display: block;
    margin: auto;
    width: 100%;
  }

  .hash-div {
    margin-top: 20px;
  }
}