.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .gallery-image {
    margin: 2px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
  }
}