$back-clr : rgba(12,54,255,0.4);

.navigation-bar{
  height: 60px;
  background-color: $back-clr;

  .user-greeting {
    display: flex;
    align-items: center
  }

  .navigation-button {
    height: 30px;
    margin:0 5px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: inherit;
    border: none;
    outline: none;

    &:hover{
      background-color: rgba(250,250,250,0.2);
    }
  }
}
