.setPost {
  background-color: white;

  .form-group {
    border: none;
    margin-bottom: 0;

    .create-post-hr{
      margin: 0 auto;
      width: 98%;
    }

    .form-control {
      resize: none;
    }

    .form-control:focus {
      outline: none;
    }
  }

  .btn-wrap {
    .inputFile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      & + .input-file-icon-wrap {
        font-size: 1.05em;
        font-weight: 700;
        color: #d3394c;
        display: inline-block;
        cursor: pointer;

        .input-file-icon {
          padding-right: 2%;
          color: #d3394c;
        }

        &:hover {
          color: #722040;
        }
      }
    }

    .btn {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      & + .submit-btn-text {
        font-size: 1.05em;
        font-weight: 700;
        color: #d3394c;
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: #722040;
        }
      }
    }
  }
}