.profile-hr {
  border: 1px #0b2e13;
  width: 50%;
  size: 3px;
}

.image-gallery-element-wrapper {
  display: block;
  min-height: 100px;
  height: 100px;
  margin: 0 1%;
}

.profile-description {
  word-break: break-word;
}